.block {
   width: 64px;
    height: 64px;
   background: rgba(var(--bg-card), 1);
   border-radius: 0.5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   box-shadow: var(--box-shadow);
   margin-bottom: 16px;
   transition: border-radius 0.2s ease 0.2s;
}

@media screen and (max-width: 768px) {
   .block {
      width: 54px;
      height: 54px;
      margin-bottom: 0;
   }

   .block--activated.block {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
   }

   .block--activated.block + .navigation__nav > .navigation__list {
      padding: 0;
   }
}
