.carousel {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 24px;
}

.carousel__widget {
   box-shadow: var(--box-shadow);
   padding: 12px 8px;
   border-radius: 4px;
   display: flex;
   background-color: rgba(var(--primary), .1);
   border-radius: 8px;
}

.carousel__arrow {
   border: inherit;
   cursor: pointer;
   margin: 0 16px;
   background-color: rgba(var(--primary), .1);
   box-shadow: var(--box-shadow);
   display: flex;
   align-items: center;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   transition: 0.3s ease;
}

.carousel__arrow:hover {
   background-color: rgba(var(--primary), .2);
}

.carousel__icon {
   color: rgb(var(--primary));
}

.carousel__button {
   position: relative;
   min-width: 50px;
   border-radius: 4px;
   height: 50px;
   margin: 0 8px;
   overflow: hidden;
   box-shadow: var(--box-shadow);
   cursor: pointer;
   border: inherit;
   background-size: cover;
}

.carousel__button::before {
   background: rgb(51 51 51 / 94%);
   display: inline-block;
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   opacity: 0.7;
}

.carousel__button:hover::before,
.carousel__image--active::before {
   background-color: transparent !important;
   background: none !important;
   transition: 0.3s ease;
}

@media screen and (max-width: 574px) {
   .carousel__arrow {
      display: none;
   }
}
