.contact {
   z-index: 1;
   position: relative;
}

.contact > section {
   animation: none;
   opacity: 1;
}

.contact__icon {
   background-color: #c3ebf9;
   position: absolute;
   right: 50%;
   transform: translateX(50%);
   top: -25px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 3px solid #fff;
   box-shadow: var(--box-shadow);
}

.contact__icon svg {
   color: rgb(var(--primary));
   font-size: 1.5rem;
}

.contact__header {
   margin-bottom: 54px;
   text-align: center;
   font-family: "Mockhand";
   color: rgb(var(--accent));
   font-size: 6rem;
   border-radius: 0.5rem;
   letter-spacing: -2px;
   text-shadow: 3px 3px 0 #161616c7, -1px -1px 0 #161616c7, 1px -1px 0 #161616c7,
      -1px 1px 0 #161616c7, 1px 1px 0 #161616c7;
   margin-top: -32px;
}

.contact .contact__card {
   background-color: #fdfbfbd8;
   max-width: 385px;
}

.contact__card > section {
   position: relative;
   display: flex;
   align-items: center;
}

.contact__card p {
   position: relative;
   z-index: 3;
   padding: 4px 0 24px 0;
}

.contact .contact__card h3 {
   font-size: 1.4rem;
   margin-top: 16px;
}

.contact__card h4 > span {
   border-bottom: 2px solid hsl(0deg 0% 25% / 95%);
}

.contact__card button {
   width: 100%;
   padding-right: 24px;
   padding-left: 24px;
   font-size: 0.75rem;
}

.contact__card button svg {
   font-size: 1rem;
}

.contact .card__title::after {
   background-color: rgb(203, 203, 203);
   height: 1px;
}

.contact .card__content {
   padding: 32px 24px;
}

@media screen and (max-width: 575px) {
   .contact {
      margin: 0 24px;
   }

   .contact .contact__card {
      max-width: 100%;
      margin-bottom: 54px;
   }

   .contact .contact__header {
      font-size: 5rem;
   }

   .contact .card__title {
      font-size: 1.25rem;
   }
}
