.cover {
   min-height: 100vh;
   width: 100%;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.cover::before {
   background: linear-gradient(132deg, #02A5DA 40%,  #564ccc);
   display: inline-block;
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   opacity: 0.85;
}
