.content.dark,
.content.dark .container,
.content.dark > div,
.content.dark .parallax-wrapper {
  background-color: var(--dark);
}

.content.dark .container::after {
  background-color: #2b313e;
}

/* Navigation ------------------------------------- */

.content.dark .navigation__nav {
  background-color: rgba(var(--bg-card-dark), 1);
}

.content.dark .navItem > button {
  color: var(--font-dark);
}

.content.dark .switch .switch__icon {
  color: var(--font-dark);
}

.content.dark .nav-item--active > button,
.content.dark .navItem > button:hover {
  background-color: rgba(var(--primary), 0.5);
}

.content.dark .nav-item--active > button {
  color: rgb(var(--accent));
}

.content.dark .navItem > button:hover {
  color: rgb(var(--accent));
}

/* Card ------------------------------------- */

.content.dark .card,
.content.dark .card.aside__card .card__container {
  background-color: rgba(var(--bg-card-dark), 0.9);
  color: var(--font-dark);
}

.content.dark .card.aside__card .card__container {
  opacity: 1;
}

.content.dark .card.aside__card .card__container a {
  color: rgb(var(--primary));
}

.content.dark .card.card--arrow::before {
  border-color: transparent rgb(var(--bg-card-dark)) transparent transparent !important;
}

.content.dark .card h3,
.content.dark .card h4,
.content.dark .card h5,
.content.dark .card h6 {
  color: var(--font-dark);
}

.content.dark .card .pageheader {
  color: var(--font-dark);
}

.content.dark .card.card--bulleted li::before {
  background-color: var(--font-dark);
}

.content.dark .card__title::after {
  background-color: #4f4f606e;
}

/* Anchor ------------------------------------- */

.content.dark .anchor {
  color: rgb(var(--primary));
}

.content.dark .anchor:hover {
  color: rgba(var(--primary), 0.8);
}

/* Carousel ------------------------------------- */

.content.dark .carousel__icon {
  color: #fff;
}

.content.dark .carousel__widget,
.content.dark .carousel__arrow {
  background-color: #2c363e45;
}

/* Cover ------------------------------------- */

.content.dark .cover::before {
  background: linear-gradient(
    170deg,
    rgb(var(--bg-card-dark)) 40%,
    rgb(var(--primary))
  );
  opacity: 0.9;
}

.content.dark .title .title__overlay {
  background-color: rgba(var(--primary), 0.3);
}

/* Contact ------------------------------------- */

.content.dark .contact__icon {
  background-color: rgb(var(--primary));
}

.content.dark .contact__icon svg {
  color: #fff;
}

.content.dark .contact__icon {
  border: 3px solid rgba(var(--bg-card-dark), 0.9);
}

/* Switch ------------------------------------- */

.content.dark .switch {
  background-color: rgba(var(--bg-card-dark), 0.85);
  color: var(--font-dark);
}

/* Block ------------------------------------- */

.content.dark .block {
  background-color: rgba(var(--bg-card-dark), 0.85);
}

/* Menu ------------------------------------- */

.content.dark .overlay svg {
  color: var(--font-dark);
}

@media screen and (max-width: 769px) {
  .content.dark .nav-item--active > button,
  .content.dark .navItem > button:hover {
    background-color: transparent;
    color: rgb(var(--accent));
  }
}

.content.dark .footer {
  background-color: rgb(var(--bg-card-dark), 0.85);
}

.content.dark .footer p {
  color: var(--font-dark);
}

.content.dark .tag {
  color: rgb(var(--accent));
  background-color: rgba(var(--primary), 0.6);
}

/* Title ------------------------------------- */

.content.dark .title .title__content h1,
.content.dark .contact__header {
  color: rgb(var(--primary));
}

/* Project ------------------------------------- */

.content.dark .project__project h3,
.content.dark .project__description {
  color: var(--font-dark);
}

.content.dark .project__overlay {
  background-color: rgba(var(--bg-card-dark), 0.9);
}
