.navigation__container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto auto auto 44px;
}

.navigation__nav {
   width: 64px;
   background: rgba(var(--bg-card), 1);
   box-shadow: var(--box-shadow);
   z-index: 2;
   opacity: 9;
   border-radius: 0.5rem;
}

.navigation__nav > .navigation__list {
   padding: 0.5rem 0;
   margin: 0;
}

.navigation__nav > .navigation__list li {
   list-style-type: none;
}

.navigation__nav > .navigation__list > li:last-child > button {
   border-bottom: none;
}

.navigation__nav > .navigation__list > li > button {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.navigation__nav > .navigation__list > li > button > svg {
   font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
   .navigation__container {
      display: none;
   }
}
