.navItem {
   list-style-type: none;
   display: flex;
   justify-content: center;
   border-radius: 50%;
}

.navItem > button {
   color: var(--font-primary);
   font-size: 0.8rem;
   font-weight: 800;
   text-transform: uppercase;
   margin: 0.25rem 0;
   transition: 0.4s ease-out;
   display: flex;
   width: 45px;
   height: 45px;
   border-radius: 50%;
}

.navItem > button > svg {
   margin-right: 0;
}

@media screen and (min-width: 769px) {
   .nav-item--active > button {
      background-color: rgba(var(--primary), .1);
      color: rgb(var(--primary));
   }

   .navItem > button:hover {
      background-color: rgba(var(--primary), .1);
      color: rgb(var(--primary));
      border-radius: 50%;
   }
}
