.pageheader {
   margin-bottom: 4px;
   letter-spacing: -0.5px;
}

.pageheader--1,
.pageheader--2,
.pageheader--3,
.pageheader--4,
.pageheader--5,
.pageheader--6 {
   font-weight: 700;
   color: var(--font-primary);
}

.pageheader--1 {
   font-size: 3rem;
}

.pageheader--2 {
   font-size: 2.25rem;
   font-weight: 800;
   letter-spacing: -1.5px;
}

.pageheader--3 {
   font-size: 2rem;
}

.pageheader--4 {
   font-size: 1.75rem;
}

.pageheader--5 {
   font-size: 1.5rem;
}

.pageheader--6 {
   font-size: 1rem;
   font-weight: 600;
}
