.parallax-layer__aside {
   width: 25% !important;
   z-index: 2;
}

.parallax-layer__desktop {
   display: flex !important;
   width: 11% !important;
   z-index: 3;
}

@media screen and (max-width: 768px) {
   .parallax-layer__aside,
   .parallax-layer__desktop {
      display: none !important;
   }
}
