.skills__content {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 8px;
   position: relative;
   z-index: 3;
}

.skills__paragraph {
   padding-bottom: 16px;
}

.skills__card p {
   position: relative;
   z-index: 3;
}

@media screen and (max-width: 574px) {
   .skills__content {
      grid-template-columns: repeat(2, 1fr);
   }
}
