.switch label {
   font-size: 0.8rem;
   font-weight: 800;
   text-transform: uppercase;
   display: flex;
}

.switch .react-toggle {
   margin-top: 0;
}

.switch .switch__icon {
   font-size: 1.25rem;
   color: var(--font-primary);
}

.switch .switch__icon.switch__icon--sun {
   font-size: 1.25rem;
}

/* Overwrites Default Styles to react-toggle */

.switch .react-toggle--checked .react-toggle-track,
.switch
   .react-toggle--checked:hover:not(.react-toggle--disabled)
   .react-toggle-track {
   background-color: rgba(var(--primary), .8);
}

.switch .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
   background-color: rgb(var(--primary));
}

.switch .react-toggle-track {
   background-color: #131320c7;
}

.switch .react-toggle:hover.react-toggle--checked .react-toggle-track {
   background-color: rgb(var(--primary));
}

.switch .react-toggle--checked .react-toggle-thumb {
   border-color: #202038c7;
}

.switch .react-toggle-thumb {
   width: 17px;
   height: 17px;
}

.switch .react-toggle-track {
   width: 40px;
   height: 20px;
}

.switch .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
   background-color: rgb(var(--primary));
}

@media screen and (max-width: 768px) {
   .switch label {
      margin-bottom: 8px;
   }
}
